
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.8;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0px;
    padding: 0px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li {
    display: inline-block;
}

a {
    cursor: pointer;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

hr {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

/*-- scroll to top ---*/

#return-to-top {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 9999;
    display: block;
    position: fixed;
    background: #f7da17;
    text-decoration: none;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#return-to-top i {
    color: #000000;
    margin: 0;
    position: relative;
    left: 20px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#return-to-top:hover {
    background: red;
}

#return-to-top:hover i {
    color: #000000;
    top: 11px;
    left: 20px;
    font-size: 20px;
}

::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
}

:-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.sticky .navbar-brand img {
    margin-top: 0;
    width: 70%;
    padding-bottom: 0;
}

/*======
    Nav-bar
    ======*/

header {
    color: #000000;
    background-color: #f7da17;
    transition: all 0.5s;
    position: relative;
}

.hidden {
    line-height: 41px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 10px;
    cursor: default;
}

header:before {
    background-repeat: no-repeat;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

header h6 {
    font-size: 14px;
    letter-spacing: 4px;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success.focus,
.btn-success:focus {
    box-shadow: none;
}

nav {
    background-color: #f7da17 !important;
    -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    transition: all 0.5s;
}

header .social-icons ul > li:nth-child(1) {
    color: rgba(0, 0, 0, 0.62);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-style: italic;
    padding-right: 10px;
}

header .social-icons ul > li:nth-child(2) {
    background: black;
    color: #ffffff;
    padding: 12px 0;
    font-size: 16px;
    margin: 0 44px;
    position: relative;
}

.navbar-brand img {
    margin-top: -25px;
    padding-bottom: 10px;
    transition: all 0.5s;
}

header .social-icons ul > li:nth-child(2):after {
    border-top: 80px solid #000000;
    border-left: 0 solid transparent;
    border-right: 65px solid transparent;
    bottom: 0px;
    content: "";
    position: absolute;
    right: -65px;
    width: 0;
    height: 0;
}

header .social-icons ul > li:nth-child(2):before {
    border-top: 62px solid #000000;
    border-left: 0 solid transparent;
    border-right: 62px solid transparent;
    bottom: 0px;
    content: "";
    left: -62px;
    position: absolute;
    width: 0;
    height: 0;
    transform: rotate(180deg);
}

header h6 {
    color: #000000;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,

.navbar-dark .navbar-nav .active > .nav-link {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar {
    padding: 0;
}

.navbar-nav .nav-item:last-child {
    border-right: 0;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */

.stuck .sticky-top {
    background-color: #ffffff !important;
}

.jumbotron {
    width: 100%;
    height: 850px;
    margin-bottom: 0;
    position: relative;
    background-image: url(../images/banner-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron:after {
    background-image: url("../images/nav-border.png");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
}

.jumbotron p {
    width: 70%;
    color: #ffffff;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.jumbotron .btn-success,
.jumbotron .btn-success:not(:disabled):not(.disabled):active {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    padding: 12px 20px;
    margin-right: 20px;
    letter-spacing: -0.5px;
    background-color: #f7da17;
    border-color: #f7da17;
    border: 2px solid #f7da17;
    text-transform: uppercase;
}

.jumbotron .btn-default,
.jumbotron .btn-default:not(:disabled):not(.disabled):active {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    padding: 12px 20px;
    margin-right: 20px;
    letter-spacing: -0.5px;
    background-color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    text-transform: uppercase;
}

.jumbotron .btn-default:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.jumbotron .btn-success:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #f7da17;
}

.jumbotron h2 {
    font-size: 50px;
    padding-bottom: 30px;
    color: #ffffff;
    font-family: 'Changa One', cursive;
}

.jumbotron h1 {
    font-size: 61px;
    color: #f7da17;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Changa One', cursive;
}

.jumbotron .content {
    position: relative;
    text-align: left;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000', GradientType=1);
}

/*==============================
          Services-Page
===============================*/

.services span {
    font-size: 15px;
}

.services a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}
.services {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: gray;
}

.services .card-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.services .card {
    border-top: 15px solid #f7da17;
    padding: 30px 30px !important;
    border-radius: 0;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.services .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.services .card .card-block {
    padding-left: 50px;
    position: relative;
}

.services .card .card-block a {
    color: #000000 !important;
    border-bottom: none;
}

.services .card .card-block a i {
    display: none;

}

.services .card p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding-bottom: 20px;
}

.services .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

.services .card .card-block h3:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 35px;
    padding: 10px 0;
    color: #9c9c9c;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.services .card .block-1 h3:before {
    content: "\f19c";
}

.services .card .block-2 h3:before {
    content: "\f1ad";
}

.services .card .block-3 h3:before {
    content: "\f0ea";
}


/*==========================
        Support-Page
==========================*/

.support {
    padding: 80px 0;
    text-align: center;
    background-image: url("../images/contact-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.support:after {
    background-image: url("../images/contact-border.png");
    background-repeat: no-repeat;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
}

.support .figure {
    width: 100%;
    height: auto;
}

.support .heading h2 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.support .heading h3 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.support .figure img {
    width: 100%;
    object-fit: cover;
}

.support .text-left {
    padding-bottom: 80px;
}

.support .heading {
    text-align: left;
    color: #464646;
    padding-bottom: 40px;
}

.support select {
    width: 100%;
    height: 52px;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    padding: 0 8px;
    cursor: pointer;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    border: none;
    text-transform: uppercase;
}

.support .btn-primary {
    color: #fff;
    padding: 12px 40px;
    font-size: 15px;
    float: left;
    background-color: #ffaf00;
    border-color: #ffaf00;
    height: 50px;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid #ffaf00;
}

.support .btn-primary:not(:disabled):not(.disabled):active {
    color: #000;
    background-color: transparent;
    ;
    border-color: #000;
}

.support .btn-primary:hover {
    color: #000;
    background-color: transparent;
    border-color: #000;
}

.support .form-control {
    height: 52px;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
}

.support textarea.form-control {
    height: auto;
    margin-bottom: 15px;
    padding: 20px 13px;
}


/*==============================
      // subscribe Styles //
==============================*/

.subscribe {
    width: 100%;
    height: auto;
    padding: 70px 0;
    color: #000000;
    position: relative;
    background-color: red;
}

.subscribe:before {
    background-color: red; 
    background-repeat: no-repeat;
    content: " ";
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 32px;
}

.subscribe:after {
    background-color: red;
    background-repeat: no-repeat;
    content: " ";
    display: block;
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 100%;
    height: 40px;
}

.subscribe .heading {
    text-align: center;
    padding-bottom: 30px;
}

.subscribe .heading h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.subscribe .form-inline .form-control {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.subscribe .form-inline .btn-primary {
    padding: 13px 30px;
    border-radius: 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
}

.subscribe .form-inline .btn-primary:not(:disabled):not(.disabled):active,
.subscribe .form-inline .btn-primary:hover {
    color: #000000;
    background-color: transparent;
    border-color: #000000;
    border: 2px solid #000000;
}


.subscribe ::placeholder {
    color: #dadada;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

footer {
    width: 100%;
    height: auto;
    color: #ffffff;
    padding: 70px 0;
    background-color: #111111;
}

footer img {
    padding-bottom: 30px;
}

footer ul li {
    display: block;
}

footer ul li a {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

footer ul li a:hover {
    color: #ffffff;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    color: #919191;
    letter-spacing: 0.5px;
}

footer p span {
    display: block;
}

footer h5 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 30px;
}

/*==============================
      // About-page //
==============================*/

.banner {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: red;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.banner .buttons {
    text-align: right;
}

.banner .btn-warning {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 15px;
    text-transform: uppercase;
    border: 2px solid #ffc107;
}

.banner .btn-primary {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 15px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
}

.banner .btn-primary:hover {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.banner .btn-warning:hover {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.banner .btn-warning:not(:disabled):not(.disabled):active:focus,
.banner .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}


.banner h1 {
    color: #ffffff;
    font-size: 44px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Changa One', cursive;
}

.about-us {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}

.about-us h3 {
    color: #000000;
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

.about-us p {
    margin: 0;
    color: #969696;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 200px;
}

.about-us .image {
    float: left;
    width: 478px;
    height: 500px;
    shape-margin: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}

.about-us .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    object-fit: cover;
}

/*==========================
        Contact-Page
===========================*/

#contact-page {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
}

#contact-page h2 {
    color: #000;
    font-size: 48px;
    letter-spacing: -2px;
    padding-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#contact-page p {
    font-size: 14px;
    font-weight: 500;
    color: #8d8d8d;
    padding-bottom: 50px;
}

#contact-page input {
    height: 55px;
    color: #555;
    border-radius: 0;
}

#contact-page textarea.form-control {
    padding: 17px 12px;
    margin-bottom: 15px;
    height: auto;
    border-radius: 0;
}

#contact-page .fa {
    font-size: 27px;
    color: #000;
    margin-right: 12px;
    cursor: pointer;
}

#contact-page .fa:hover {
    color: #143bb5;
}

#contact-page ::placeholder {
    font-style: normal;
    font-size: 16px;
    color: #dfdfdf;
}

#contact-page .btn-default {
    color: #fff;
    font-size: 16px;
    padding: 16px 50px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #000000;
    background-color: #000000;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#contact-page .btn-default:hover {
    border: 2px solid #1c8a00;
    color: #1c8a00;
    background-color: transparent;
}

address p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    letter-spacing: -0.5px;
    font-weight: 500;
}



/*=========================
       Service-Page
=========================*/

#services {
    padding-top: 75px;
    padding-bottom: 100px;
}

#services .career-img {
    width: 320px;
    object-fit: cover;
    height: 320px;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.09);
}

#services h3 {
    color: #000000;
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 50px;
    margin-top: -4px;
    text-transform: capitalize;
}

#services .main-content {
    padding-bottom: 80px;
}

#services .contant p {
    color: #737373;
    font-size: 16px;
    line-height: 35px;
    margin-top: -4px;
    font-weight: 500;
    padding-bottom: 15px;
}

#services h2 {
    color: #000000;
    font-size: 50px;
    padding-bottom: 50px;
    text-transform: capitalize;
    font-weight: 600;
}

#services .heading p {
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: 400;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: red;
}

.list-unstyled a:hover{
    color: red;
}